*{margin: 0px; padding: 0px;text-decoration: none;}
ul{list-style: none;}
html,body{height: 100%;} 
.wrap{min-width: 290px; max-width: 640px; width: 100%; min-height: 100%; margin: 0px auto; font-family:"微软雅黑", "helvetica neue",tahoma,"hiragino sans gb",stheiti,"wenquanyi micro hei",\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif; font-size: 12px;}/*适用于手机端：字体大小用em，1em=16px；为默认字体大小;最大宽度640*/

.pro{width:6.2rem; margin: 0px auto; padding-top: 20px; overflow: hidden;}
.clearfix:after {content:"";height:0;display:block;clear:both;}
.clearfix {zoom:1;}
.pro ul{width:6.4rem;}
.pro li{width: 3rem; height: 3.6rem; float: left; margin: 0 0.2rem 0.2rem 0;}
.pro li .box{width: 3rem; height: 3rem; background: #ccc;}
.pro li p{font-size: 0.24rem; line-height: 0.6rem; text-align: center;}

.chin{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

.left{ display:inline; float:left;}
.right{ display:inline; float:right;}
.clear:after{ display:block; content:""; clear:both;}
.clear{ zoom:1;}

.rel{position: relative;}
.abs{position: absolute;}
.fix{position: fixed;}

.collapse{border-collapse: collapse;}
.w10{width: 100%;}
.w5{width: 50%;}

.color-red{color: #FF5C3A;}
.color-hui{color: #9A9A9A;}
.color-qing{color: #f9fafe;}
.color-anhui{color: #585856;}
.color-white{color: #fff;}
.color-shuihong{color: #bc93a5;}
.color-blue{color: #4baafc;}

.foze1{font-size: .1rem;}
.foze2{font-size: .2rem;}
.foze3{font-size: .3rem;}
.foze4{font-size: .4rem;}
.foze6{font-size: .6rem;}
.foze7{font-size: .7rem;}
.foze8{font-size: .8rem;}
.foze9{font-size: .9rem;}


.mar-top-ten{margin-top: 10px;}
.mar-top-twenty{margin-top: 20px;}
.mar-top-thirty{margin-top: 30px;}
.mar-top-forty{margin-top: 40px;}
.mar-top-fifty{margin-top: 50px;}

.mar-bottom-ten{margin-bottom: 10px;}
.mar-bottom-twenty{margin-bottom: 20px;}
.mar-bottom-thirty{margin-bottom: 30px;}
.mar-bottom-forty{margin-bottom: 40px;}
.mar-bottom-fifty{margin-bottom: 50px;}

.mar-right-ten{margin-right: 10px;}
.mar-right-twenty{margin-right: 20px;}
.mar-right-thirty{margin-right: 30px;}
.mar-right-forty{margin-right: 40px;}
.mar-right-fifty{margin-right: 50px;}

.mar-left-ten{margin-left: 10px;}
.mar-left-twenty{margin-left: 20px;}
.mar-left-thirty{margin-left: 30px;}
.mar-left-forty{margin-left: 40px;}
.mar-left-fifty{margin-left: 50px;}

.pad-top-ten{padding-top: 10px;}
.pad-top-twenty{padding-top: 20px;}
.pad-top-thirty{padding-top: 30px;}
.pad-top-forty{padding-top: 40px;}
.pad-top-fifty{padding-top: 50px;}

.pad-bottom-ten{padding-bottom: 10px;}
.pad-bottom-twenty{padding-bottom: 20px;}
.pad-bottom-thirty{padding-bottom: 30px;}
.pad-bottom-forty{padding-bottom: 40px;}
.pad-bottom-fifty{padding-bottom: 50px;}


.pad-left-ten{padding-left: 10px;}
.pad-left-twenty{padding-left: 20px;}
.pad-left-thirty{padding-left: 30px;}
.pad-left-forty{padding-left: 40px;}
.pad-left-fifty{padding-left: 50px;}


.pad-right-ten{padding-right: 10px;}
.pad-right-twenty{padding-right: 20px;}
.pad-right-thirty{padding-right: 30px;}
.pad-right-forty{padding-right: 40px;}
.pad-right-fifty{padding-right: 50px;}


.text-center{text-align: center;}


.touming_c{
	width: 100%; 
	min-height:100%; 
	background:#698269; 
	position: absolute; 
	top: 0; 
	z-index: 1; 
	opacity: .3;
}

.wrap_concent{
	min-height: 100%;
	margin: 0 auto;
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.wrap_conce{
	min-height: 100%;
	margin: 0 auto;
	/*background-color: #fff;*/
}

.top-left{
	width: 0.5rem;
	height: 0.3rem;
	margin-top: 0.1rem;
}

.top-leftd{
	font-size: .3rem;
	height: 0.5rem;
	line-height: .5rem;
	padding-left: .4rem;
	background-image: url(../images/说明_03.png);
	background-repeat: no-repeat;
	background-size:0.3rem 100%;
}

.top-right{
	width: 0.5rem;
	height: 0.5rem;
}

.index_p{
	font-size: 0.3rem;
    line-height: 0.5rem;
    text-align: center;
    color: #fff;
}

.index_pl{
	font-size: 0.4rem;
    line-height: 0.5rem;
    text-align: center;
    color: #585856;
}

.index_top{
	padding: .3rem;
}

.index_middle{
	text-align: center;
}

.index_jxg{
	font-weight: normal;
}

.index_denglu{
	padding: 0.3rem 1.5rem;
	border: 1px solid rgba(188, 143, 143, 0.45);
	border-radius: 4px;
	/*opacity: 0.5;*/
}

.index_bottom{
	margin-top: 2rem;
}

.index_table{
	border-collapse: collapse;
	width: 100%;
}

.index_table td{
	border-top: 1px solid rgba(147, 141, 141, 0.22);
}

.first-td{
	width: 50%;
	border-right: 1px solid rgba(147, 141, 141, 0.22);
}

.index_botcet{
	font-size: 0.5rem;
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 1rem;	
	background-repeat: no-repeat;
	background-position:center 0.5rem;
	background-size: 1rem 1rem;
}

.index_botce1{
	background-image: url(../images/ico_01.png);
}

.index_botce2{
	background-image: url(../images/ico_02.png);
}

.index_botce3{
	background-image: url(../images/ico_03.png);
}

.index_botce4{
	background-image: url(../images/ico_04.png);
}

.content_uxin{
	font-size: 0.8rem;
}

.content_uxin li{
	margin-top:1.5rem;
}

.aboutus_baoti{
	font-size: 0.2rem;
	max-width: 272px;
	margin: 0 auto;
	margin-bottom: -1px;
}

.aboutus_baoti li{
	padding:0.4rem 0.2rem;
}

.aboutus_baotid{
	border-bottom: 2px solid #0f0;
}

.aboutus_etf{
	height: 2.5rem;
}

.aboutus_tone{
	max-width: 10.5rem;
	margin:0 auto;
    padding: 0 .3rem;
}

.aboutus_pone{
	font-size: .3rem;
}

.chanpin_xilie{
	border-bottom: 1px solid #d8d8d8;
}

.chanpin_xilie table{
	width: 100%;
	border-collapse: collapse;
}

.chanpin_xiant{
	background-color: #F7F7F7;
	border-top:1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	padding: 0.3rem;
}

.chanpin_xiantd{
	background-color: #fff;
	border-left: 1px solid #d8d8d8;
	border-bottom: 1px solid #fff;
}

.chanpin_xiantde{
	background-color: #fff;
	border-right: 1px solid #d8d8d8;
	border-bottom: 1px solid #fff;
}

.bortong{
	max-width: 2.5rem;
	margin:.5rem auto 0 auto;
}

.bortond{
	max-width: 2rem;
	margin:.5rem auto 0 auto;
}

.borlan{
	border-bottom: 3px solid #449bf8;
}

.borbai{
	border-bottom: 3px solid #fff;
}

.ji_a{
	border-bottom: 1px solid #9a9a9a;
}

/*move_chanpinxilie_xiazai*/
.xiazai_weijian{
	height: 60px;
	padding-left: 80px;
	background-image: url(../images/xia_tu.jpg);
	background-repeat: no-repeat;
	margin-bottom: .7rem;
	margin-left:.5rem;
}

.dif-pa{
	font-size: .3rem;
	margin-bottom: .4rem;
}

.dif-pb{
	font-size: .3rem;
}

.dif_weijian{	
	padding-top: .5rem;
}

/*move_chanpinxilie_zhengwen*/
.zhengwen-concent{
	padding: .5rem;
}

.zhengwen-concent table{
	width: 100%;
	font-size: .3rem;
	text-align: center;
	line-height: .7rem;
}

.zhengwen-concent td:first-of-type{
	width: 50%;
	border-right: 1px solid #fff;
}

.zhengwen-concent tr:nth-of-type(2n){
	background-color: #f7f7f7;
}

.zhengwen-concent tr:nth-of-type(2n-1){
	background-color: #eaeaea;
}

/*move_zhengwen_baogao*/

.wenjian_xiazai{
	/*display: inline-block;*/
	background-color: #f7f7f7;
	padding: .3rem .5rem .3rem 1.7rem;
	background-image: url(../images/xia_tu.jpg);
	background-repeat: no-repeat;
	background-position: .3rem center;
	border: 1px solid #e7ebf6;
	border-radius: 3px;
}

.wenjian_ming{
	font: normal .3rem '微软雅黑';
	color: #7c7e7d;
	margin-bottom: .5rem;
}


/*move_jiaruwomen*/

.jiaru_tab table{
	width: 100%;
	text-align: center;
	font-size: .4rem;
	border-bottom: 1px solid #9A9A9A;
}


.aboutus_poned{
	font-size: .4rem;
}